<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title_page}}</title>
		<link rel="icon" type="image/png" href="{{app.request.basepath}}/src/images/favicon.png" />
		<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
		<link rel="stylesheet" href="{{app.request.basepath}}/src/css/leo.css">
		<link rel="stylesheet" href="{{app.request.basepath}}/src/fonts/font_import.css">
	</head>
	<body class="{{page_class}}">
