{{include('partials/header.twig')}}

<!-- BLOCK PAGE => ACUTAL PAGE AJAX -->
<div class="block-page"></div>

<!-- PROFILE & TIMELINE INFO -->
<div class="image-placeholder"></div>
<div class="overlay"></div>
<div id="panel" class="panel-controller">
  <div id="panel-button" class="switcher"><img src="{{app.request.basepath}}/src/images/right_arrow.svg" alt=""></div>
  <div class="core-controller">
    <div class="body-situation">
      <img src="{{app.request.basepath}}/src/images/story/body.svg" alt="">
    </div>
    <div class="identity">
      <div class="row">
        <div class="data-item">
          <h2>Nom du patient</h2>
          <h3>{{userDB.firstName}} {{userDB.lastName}}</h3>
        </div>
        <div class="data-item">
          <h2>Âge</h2>
          <h3>{{userDB.age}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="data-item">
          <h2>Lieu d'habitation</h2>
          <h3>{{userDB.location}}</h3>
        </div>
        <div class="data-item left">
          <h2>Sexe</h2>
          <h3>{{userDB.gender}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="data-item">
          <h2>Votre progression ADN</h2>
          <img src="{{app.request.basepath}}/src/images/story/adn.svg" alt="">
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="upgrades-status">
      <div class="row">
        <div class="data-item success">
          <h2>Électrodes cervicales</h2>
          <h3>Implanté</h3>
        </div>
        <div class="data-item locked">
          <h2>Recherche d’amélioration</h2>
          <h3>En cours</h3>
        </div>
      </div>
      <div class="row">
        <div class="data-item failed">
          <h2>Prothèses jambaire</h2>
          <h3>Non implanté</h3>
        </div>
        <div class="data-item locked left">
          <h2>Recherche d’amélioration</h2>
          <h3>En cours</h3>
        </div>
      </div>
      <div class="row">
        <div class="data-item locked">
          <h2>Recherche d’amélioration</h2>
          <h3>En cours</h3>
        </div>
        <div class="data-item locked left-2">
          <h2>Recherche d’amélioration</h2>
          <h3>En cours</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="audio-controller">
  <audio autoplay="true" src="{{app.request.basepath}}/src/medias/audio.mp3"></audio>
</div>
<script src="{{app.request.basepath}}/src/js/app/story.js"></script>
{{include('partials/footer.twig')}}
